<!DOCTYPE html>
<html lang="es">
<head>
  <!--Configuración de la pagina-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pagina de Tratamientos de Belleza">
  <meta name="author" content="JM SALON SPA">
  <meta name="keywords" content="spa, tratamientos faciales y corporales"> 
  <title>CONTACTO | Monica Peña</title>
  <!--enlaces-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="icon" href="../favicon.ico?=2">
</head>
<body>
    <header>
       <!--barra de navegación-->
        <div class="container">
            <nav class="barraNavegacion">
                <div>
                    <img class="logoImagen" src="../assets/img/bitmap.webp" alt="Logo de la empresa" title="imagen de salon spa Monica Peña" height="477" width="1516">
                    <h1>conoce nuestra ubicación</h1>
                </div>
                <div>
                    <ul class="listaNavegacion">
                        <li><a href="../index.html" title="Página de inicio">inicio</a></li>
                        <li><a href="./galeria.html" title="Página de galeria">galeria</a></li>
                        <li><a href="./presupuesto.html" title="Página de prepuesto">presupuesto</a></li>
                        <li><a href="./contacto.html" class="active" title="Página de contacto">contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        
    </header>
    <main>
      <section class="intro-presupuesto">
        <div class="capa"></div>
        <div class="container contenidoIntro">
          <h2>contacto</h2>
          <p class="parrafos">
            estamos aquí para ayudarte. Si tienes alguna pregunta, comentario o necesitas más información sobre nuestros servicios, no dudes en ponerte en contacto con nosotros. 
            Completa el formulario de contacto o utiliza nuestros datos de contacto directo para comunicarte con nuestro equipo. 
            ¡Esperamos saber de ti pronto!
        </p>       
        </div>
      </section>   
       <!--contenedor para que se muestre el mapa de la ubicación-->
 <div class="contenedorMapa container" id="mapa">
    
</div> 
    </main>
    <footer>
        <!--Pie de pagina de la empresa indicandos las redes sociales, direccion y Base legal-->
        <p>siguenos en;</p>
        <nav class="container-icons">
          <a class="icon-social" href="https://www.facebook.com/NuevoSalonSpa2021?mibextid=ZbWKwL" title="Síguenos en Facebook">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a class="icon-social" href="https://www.instagram.com/mpenacolmenares?igsh=ZjBmOXR5dGZhcm91" title="Síguenos en Instagram">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
          <a class="icon-social" href="https://www.tiktok.com/@monica_nathaly24?_t=8kp7co0NMAw&_r=1" title="Síguenos en TikTok">
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </nav>
        <img class="logo" src="../assets/img/bitmap.webp" alt="Logo Jm Salon Spa" height="477" width="1516" title="Logo de JM SAlON SPA">
        <p>peru - chimbote - jr. guillermo moore 564</p>
        <p>base legal</p>
      </footer>
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="../scripts/scripts.js"></script>
    <script src="../scripts/mapa.js"></script>
</body>
</html>