<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina de Tratamientos de Belleza">
    <meta name="author" content="JM SALON SPA">
    <meta name="keywords" content="spa, tratamientos faciales y corporales"> 
    <title>GALERIA | Monica Peña</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/lightbox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="icon" href="./favicon.ico?=2">
</head>
<body>
    <header>
        
        <div class="container">
            <nav class="barraNavegacion">
                <div>
                    <img class="logoImagen" src="../assets/img/bitmap.webp" alt="Logo de la empresa" title="imagen de salon spa Monica Peña" height="477" width="1516">
                    <h1>mis portafolio de belleza faciales y coopertales</h1>
                </div>
                <div>
                    <ul class="listaNavegacion">
                        <li><a href="../index.html" title="Página de inicio">inicio</a></li>
                        <li><a href="./galeria.html" class="active" title="Página de galeria">galeria</a></li>
                        <li><a href="./presupuesto.html" title="Página de presupuesto">presupuesto</a></li>
                        <li><a href="./contacto.html" title="Página de contacto">contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        
    </header>
    <main>
      <section class="intro-galeria">
          <div class="capa"></div>
          <div class="container contenidoIntro">
            <h2>galeria</h2>
            <p class="parrafos">
              explora nuestra galería para descubrir una amplia variedad de nuestros trabajos y proyectos realizados. Cada imagen refleja la calidad y el compromiso que ponemos en cada detalle, garantizando tu satisfacción. 
              Navega a través de nuestras colecciones y encuentra la inspiración que buscas para tu próximo proyecto.
          </p>       
          </div>
      </section>   
   <div class="galeria container">
      <div class="imagenes">
        <a href="../assets/img/facial-8224799_640.jpg" data-lightbox="image-1" data-title="Lipieza Facial">
          <img  class="imagen" src="../assets/img/facial-8224799_640.jpg" alt="Imagen de galeria 1"  width="640" height="480">
        </a>
      </div>
      <div class="imagenes">
        <a href="../assets/img/cosmetics-4050088_1280.jpg" data-lightbox="image-1" data-title="Pestañas">
          <img  class="imagen" src="../assets/img/cosmetics-4050088_1280.jpg" alt="Imagen de galeria 2"  width="1280" height="853">
        </a>
      </div>
      <div class="imagenes">
        <a href="../assets/img/woman-1049070_1920.jpg" data-lightbox="image-1" data-title="lizado de cabello">
          <img  class="imagen" src="../assets/img/woman-1049070_1920.jpg" alt="Imagen de galeria 3"  width="1920" height="1280">
        </a>
      </div>
      <div class="imagenes">
        <a href="../assets/img/woman-567021_640.jpg" data-lightbox="image-1" data-title="Masajes relajantes">
          <img  class="imagen" src="../assets/img/woman-567021_640.jpg" alt="Imagen de galeria 4"  width="640" height="480">
        </a>
      </div>
      <div class="imagenes">
        <a href="../assets/img/spa-853462_640.jpg" data-lightbox="image-1" data-title="Hermoso lugar">
          <img  class="imagen" src="../assets/img/spa-853462_640.jpg" alt="Imagen de galeria 5"  width="640" height="424">
        </a>
      </div>
      <div class="imagenes">
        <a href="../assets/img/woman-8752830_640.jpg" data-lightbox="image-1" data-title="Tratamiento facial">
          <img  class="imagen" src="../assets/img/woman-8752830_640.jpg" alt="Imagen de galeria 6"  width="640" height="427">
        </a>
      </div>
      <div class="imagenes">
        <a href="../assets/img/face.jpg" data-lightbox="image-1" data-title="Cejas">
          <img  class="imagen" src="../assets/img/face.jpg" alt="Imagen de galeria 7"  width="640" height="480">
        </a>
      </div>
      <div class="imagenes">
        <a href="../assets/img/head-650878_1280.jpg" data-lightbox="image-1" data-title="Masaje relajante">
          <img  class="imagen" src="../assets/img/head-650878_1280.jpg" alt="Imagen de galeria 8"  width="1280" height="812">
        </a>
      </div>
  </div>
  </main>
    <footer>
        <!--Pie de pagina de la empresa indicandos las redes sociales, direccion y Base legal-->
        <p>siguenos en;</p>
        <nav class="container-icons">
          <a class="icon-social" href="https://www.facebook.com/NuevoSalonSpa2021?mibextid=ZbWKwL" title="Síguenos en Facebook">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a class="icon-social" href="https://www.instagram.com/mpenacolmenares?igsh=ZjBmOXR5dGZhcm91" title="Síguenos en Instagram">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
          <a class="icon-social" href="https://www.tiktok.com/@monica_nathaly24?_t=8kp7co0NMAw&_r=1" title="Síguenos en TikTok">
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </nav>
        <img class="logo" src="../assets/img/bitmap.webp" alt="Logo Jm Salon Spa" height="477" width="1516" title="Logo de JM SAlON SPA">
        <p>peru - chimbote - jr. guillermo moore 564</p>
        <p>base legal</p>
      </footer>
    <script src="../scripts/scripts.js"></script>
    <script src="../scripts/lightbox-plus-jquery.js"></script>
</body>
</html>